In [112]:
import numpy as np
import pandas as pd

In [113]:
data = np.array(["hello", "world", "python"])
x = pd.Series(data)
print(x, end = ' ')

0     hello
1     world
2    python
dtype: object

In [114]:
data = np.array(["hello", "world", "python"])
x = pd.DataFrame(data)
print(x)

        0
0   hello
1   world
2  python

In [115]:
data = np.array(["hello", "world", "python"])
x = pd.DataFrame(data, columns = ["string"])
print(x)

   string
0   hello
1   world
2  python

In [116]:
data = np.array([["alex", 10], ['bob', 12], ['clarke', 13]])
x = pd.DataFrame(data)
print(x[0])

0      alex
1       bob
2    clarke
Name: 0, dtype: object

In [117]:
data = {'Name': {'First-Name' : 'Yash', 'Last-Name' : 'Bhargava'}, 'RollNo' : {'University' : '2115500160', 'Class' : 53}}
x = pd.DataFrame(data)
print(x)

                Name      RollNo
First-Name      Yash         NaN
Last-Name   Bhargava         NaN
University       NaN  2115500160
Class            NaN          53

In [118]:
top_labels = np.array(['Number','Squares', 'Cubes'])
side_indexs = np.array(['First', 'Second', 'Third', 'Fourth', 'Fifth', 'Sixth', 'Seventh'])
values = np.array([[1,1,1], [2,4,8],[3,9,7], [4,16,64], [5,25,125], [6,36,216], [7,29,343]])
x = pd.DataFrame(values, index = side_indexs, columns = top_labels)
print(x)

         Number  Squares  Cubes
First         1        1      1
Second        2        4      8
Third         3        9      7
Fourth        4       16     64
Fifth         5       25    125
Sixth         6       36    216
Seventh       7       29    343

In [119]:
df = pd.read_csv("data_panda.csv")
df1 = pd.DataFrame(df)
print(df1.head(100))
print(df1.tail(100))

    Duration  Pulse  Maxpulse  Calories       DOB
0       60.0  110.0     130.0     409.1  5/5/1975
1       60.0  117.0     145.0     479.0  5/5/1975
2       60.0  103.0     135.0     340.0       NaN
3       45.0  109.0     175.0     282.4  5/7/1975
4       45.0  117.0     148.0     406.0  9/8/1989
..       ...    ...       ...       ...       ...
95      20.0  151.0     168.0     229.4  4/5/1987
96      30.0   95.0     128.0     128.2  4/6/1987
97      25.0  152.0     168.0     244.2  4/7/1987
98      30.0  109.0     131.0     188.2  4/8/1987
99      90.0   93.0     124.0     604.1  4/9/1987

[100 rows x 5 columns]
     Duration  Pulse  Maxpulse  Calories  DOB
211       NaN    NaN       NaN       NaN  NaN
212       NaN    NaN       NaN       NaN  NaN
213       NaN    NaN       NaN       NaN  NaN
214       NaN    NaN       NaN       NaN  NaN
215       NaN    NaN       NaN       NaN  NaN
..        ...    ...       ...       ...  ...
306       NaN    NaN       NaN       NaN  NaN
307       NaN    NaN       NaN       NaN  NaN
308       NaN    NaN       NaN       NaN  NaN
309       NaN    NaN       NaN       NaN  NaN
310       NaN    NaN       NaN       NaN  NaN

[100 rows x 5 columns]

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    float64
 1   Pulse     169 non-null    float64
 2   Maxpulse  167 non-null    float64
 3   Calories  164 non-null    float64
 4   DOB       168 non-null    object
dtypes: float64(4), object(1)
memory usage: 12.3+ KB

In [125]:
df1 = df
df.info()
df1.dropna()
df.info()
#df1
#df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    float64
 1   Pulse     169 non-null    float64
 2   Maxpulse  167 non-null    float64
 3   Calories  164 non-null    float64
 4   DOB       168 non-null    object
dtypes: float64(4), object(1)
memory usage: 12.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    float64
 1   Pulse     169 non-null    float64
 2   Maxpulse  167 non-null    float64
 3   Calories  164 non-null    float64
 4   DOB       168 non-null    object
dtypes: float64(4), object(1)
memory usage: 12.3+ KB

In [128]:
df
df1 = df.copy()
df1.fillna(df1['Calories'].mean(), inplace = True)
df1

       Duration       Pulse    Maxpulse    Calories         DOB
0     60.000000  110.000000  130.000000  409.100000    5/5/1975
1     60.000000  117.000000  145.000000  479.000000    5/5/1975
2     60.000000  103.000000  135.000000  340.000000  375.790244
3     45.000000  109.000000  175.000000  282.400000    5/7/1975
4     45.000000  117.000000  148.000000  406.000000    9/8/1989
..          ...         ...         ...         ...         ...
306  375.790244  375.790244  375.790244  375.790244  375.790244
307  375.790244  375.790244  375.790244  375.790244  375.790244
308  375.790244  375.790244  375.790244  375.790244  375.790244
309  375.790244  375.790244  375.790244  375.790244  375.790244
310  375.790244  375.790244  375.790244  375.790244  375.790244

[311 rows x 5 columns]

In [131]:
df1 = df.copy()
df1.fillna(df['Calories'].median(), inplace = True)
df1

     Duration  Pulse  Maxpulse  Calories       DOB
0        60.0  110.0     130.0     409.1  5/5/1975
1        60.0  117.0     145.0     479.0  5/5/1975
2        60.0  103.0     135.0     340.0     318.6
3        45.0  109.0     175.0     282.4  5/7/1975
4        45.0  117.0     148.0     406.0  9/8/1989
..        ...    ...       ...       ...       ...
306     318.6  318.6     318.6     318.6     318.6
307     318.6  318.6     318.6     318.6     318.6
308     318.6  318.6     318.6     318.6     318.6
309     318.6  318.6     318.6     318.6     318.6
310     318.6  318.6     318.6     318.6     318.6

[311 rows x 5 columns]

In [140]:
df1 = df.copy()
x = df1['Calories'].mode()
print(x)

0    300.0
Name: Calories, dtype: float64

In [150]:
df1 = df.copy()
df1.dropna(subset = ['Pulse','DOB'], inplace = True)
print(df1.head())

   Duration  Pulse  Maxpulse  Calories       DOB
0      60.0  110.0     130.0     409.1  5/5/1975
1      60.0  117.0     145.0     479.0  5/5/1975
3      45.0  109.0     175.0     282.4  5/7/1975
4      45.0  117.0     148.0     406.0  9/8/1989
5      60.0  102.0     127.0     300.0  9/9/1989

In [158]:
df1 = df.copy()
x = df1.loc[4, 'Duration']
print(x)

45.0

In [161]:
print(df.iloc[100:])

     Duration  Pulse  Maxpulse  Calories       DOB
100      20.0   95.0     112.0      77.7  6/1/1964
101      90.0   90.0     110.0     500.0  3/2/1980
102      90.0   90.0     100.0     500.0  3/3/1980
103      90.0   90.0     100.0     500.4  3/4/1980
104      30.0   92.0     108.0      92.7  8/9/1983
..        ...    ...       ...       ...       ...
306       NaN    NaN       NaN       NaN       NaN
307       NaN    NaN       NaN       NaN       NaN
308       NaN    NaN       NaN       NaN       NaN
309       NaN    NaN       NaN       NaN       NaN
310       NaN    NaN       NaN       NaN       NaN

[211 rows x 5 columns]

In [165]:
df.drop_duplicates(inplace = True)
df

     Duration  Pulse  Maxpulse  Calories       DOB
0        60.0  110.0     130.0     409.1  5/5/1975
1        60.0  117.0     145.0     479.0  5/5/1975
2        60.0  103.0     135.0     340.0       NaN
3        45.0  109.0     175.0     282.4  5/7/1975
4        45.0  117.0     148.0     406.0  9/8/1989
..        ...    ...       ...       ...       ...
165      60.0  110.0     145.0     300.0  4/5/1987
166      60.0  115.0     145.0     310.2  4/6/1987
167      75.0  120.0     150.0     320.4  4/7/1987
168      75.0  125.0     150.0     330.4  4/8/1987
169       NaN    NaN       NaN       NaN       NaN

[170 rows x 5 columns]